@import "tailwindcss";

@theme {
  --color-blue-accent: #3963ff;
  --color-white-accent: #ffffff;

  --font-title: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;
  --text-body: 20px;


}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--font-body);
  
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
}